@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Result Defualt styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    background-color: #439eff;
}


/* Header styles */
.header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.navi ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi ul li {
    padding: 10px;
    margin: 20px;
}

.navi ul li a {
    text-decoration: none;
    color: #ffffff;
}

.navi ul li a:hover {
    text-decoration: underline;
    color: #439eff;
}